%main.mdl-layout__content
  .mdl-grid
    %header.mdl-cell.mdl-cell--3-col-desktop.mdl-cell--2-col-tablet.mdl-cell--4-col-phone
      %img{src: "#{@current_user.avatar}" width: 200 height: 200}
    .mdl-card.mdl-shadow--8dp.mdl-cell.mdl-cell--9-col-desktop.mdl-cell--6-col-tablet.mdl-cell--4-col-phone
      .mdl-card__supporting-text
        = @current_user.name
        %br
        Email: #{@current_user.email}
        %br
        Facebook ID: #{@current_user.id}
      .mdl-card__actions
        = link "My Likes", to: trace_path(@conn, :index), class: "mdl-button"
        %br
        %br
        If you want to leave us:
        = link "Delete all of my info", to: profile_path(@conn, :delete, @current_user), method: :delete, data: [confirm: "Are you sure?"], class: "mdl-button mdl-button--raised mdl-button--accent"
